<!DOCTYPE html>

<html>
    
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel = "stylesheet" href = "/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src = "/img/us3.jpeg">
            <ol>
                <li>Aditya Keni</li>
                <li>Afshan Khan</li>
                <li>Sarvesh Barve</li>
                <li>Shivam Gauns</li>
            </ol>
        </div>
        
        {{>footer}}

    </body>

</html>