<!DOCTYPE html>

<html>

<head>
    <title>Lora</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Sensor data</p>


    </div>

    {{>footer}}

</body>

</html>